.s1{

	color: green;
	font-size: 30px;
	text-decoration: underline;
	font-style: italic;
}

.s2 {

	color: yellow;
	font-size: 12px;
}

.s3 {

	color: blue;
	font-style: italic;
}

.s4{
	color: green; 
	font-weight:bold;
}

.s5 {
	color: red;

}