.style1{
	width: 600px;
	height:800px;
	background-color: silver;
	border: 1px solid red;
	margin-top: 10;

}

.style1 table{
	border: 1px red;
	background-color: yellow;
	width: 130px;
	height: 50px;

}